<form [formGroup]='form' (ngSubmit)='logIn()'>
    <div class="form-group">
        <label for="userName">User name</label>
        <input type="text"
         class="form-control"
         id="userName"
         formControlName="userName"
         >
         <label for="password">Password</label>
        <input type="password"
        id="password"
        formControlName='password'
        class="form-control">
    </div>
    <button class="btn btn-success mt-3" type="submit">Log in</button>
</form>