

<section class="search">
    <app-searchbar></app-searchbar>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
   
    <div *ngFor="let property of properties">
      <div class="container">
        <div class="photo-card">
          <div
            class="photo-background"
            style="background-image: url('{{property.imageName}}')"
          ></div>
          <div class="photo-details">
            <h2>{{ property.title }}</h2>
            <div style="margin-bottom: 25px" class="row">
              <div class="col">
                <label>Address :</label>
                <p>{{ property.propertyAddress }}</p>
              </div>
              <div class="col">
                <label>Location :</label>
                <p>{{ property.city }},{{ property.country }}</p>
              </div>
            </div>
            <div style="margin-bottom: 25px" class="row">
              <div class="col">
                <!-- <label>Property Type:</label> -->
                <p>{{ property.propertyType }}</p>
              </div>
              <div class="col">
                <!-- <label>Area Type :</label> -->
                <p>{{ property.areaType }}</p>
              </div>
            </div>
            <div style="margin-bottom: 25px">
              <label>Description :</label>
              <p>{{ property.propertyDescription }}</p>
            </div>
            <div style="margin-bottom: 25px">
              <label>Price Per Night:</label>
              <p>EGP {{ property.pricePerNight }}</p>
            </div>
            <div>
              <a
                (click)="reserve(property.id, property)"
                class="btn btn-success btn-block"
                >Reserve</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
